* {
  box-sizing:border-box;
}
h1 {
  color: rgb(42, 82, 42);
  text-align: center;
}
p {
  text-align: center;
}
.column {
  border:2px solid rgb(70, 70, 70);
  width: 30%;
  margin: 10px;
  float:left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
img {
  width: 70%;
  float: left;
  margin: 10px;
}
p {
  font-family: sans-serif;
}
.cat p {
  font-style: italic;
  color: blue;
}
.dog p {
  font-style: bold;
  color: red;
}